.heartPlacement{
    float: right;
    color: red;
}

.heartPlacement:hover{
    --background-hover:none;
}

.heartPlacement:active{
    --background-activated-opacity:none;
    --background-activated: none;
}

#video-playlist{
    display: flex;
    flex-direction:row;
    overflow:scroll;
}

#video-playlist-list ion-item {
    cursor: pointer;
}
