/* Added for stop button that was not floating.  */
/* #stop-button{
  margin-top: 20px;
  margin-left: 25%;
  position: fixed;
  z-index: 2000;
} */
.QR-Scanner-card {
  box-shadow: 0 0 0 #fff;
}

.modal-scanner-bg {
  position: fixed;
  height: 80vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
}

.qr-scanner-clues-tab, .modal-back-button{
  margin: 5px 10px;
}

.qr-scanner-clues-tab .video-scanner {
  top: 10vh;
}

.clues-modal{
  --max-height: 80vh;
}

.hide-modal-card{
  visibility: hidden;
}

.show-modal-card{
  visibility: visible;
}

#stop-button{
  visibility: shown;
}

.correct-alert {
  --background: #e5e5e5;
}
