


.video-scanner{
  position: fixed;
  /* top: 56px; /* 56px seems to be the height of the Ion Header*/
  top: 30vh;
  left: 0;
  width: 100vw; /* this makes camera maintain proportions */
  z-index: 101;
}

#invalid-qr-toast{
  z-index:  20001;
}

.button-height{
  /* height: 50px; */
}

.black-scanner-bg {
  z-index: 100;
  top:0px;
  position: fixed;
  float: left;
  height: 100vh;
  width: 100vw;
  background-color: black;
}



/* Added for stop button that was not floating.  */
/* #stop-button{ */
  /* margin-top: 20px;
  margin-left: 25%;
  position: fixed; */
  /* z-index: 30000; */
/* } */
